.navbar-dark {
    background-color: #464a52;
    opacity: 0.9;
}

#navbar {
    padding-left: 32px;
    padding-right: 16px;
}

#nav-item-container {
    padding-right: 110px;
}

.nav-item {
    margin-left: 48px;
}

.nav-link.active {
    text-decoration: none;
    font-weight: 700;
}

.nav-link:hover {
    color: grey;
}

.nav-link {
    color: white;
}

.navbar-toggler {
    border: 0px;
    /* padding: 7px; */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;

}

.background {
    max-width: 100%;
    margin-top: 71px;
    background-color: #565a63;
    color: white;
}

.card {
    border: none;
}

.main-card {
    background-color: #565a63;
    /* background-color: #6b707a; */
    color: white;
    margin-left: 20vhm;
}

.subscribe-card {
    background-color: #565a63;
    color: white;
    margin: auto;
}

.subscribe-card_body {
    background-color: #565a63;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_2 {
    background-color: #565a63;
    color: white;
    margin-left: 20vhm;
}

.card-title_1 {
    font-size: 48px;
    font-weight: bold;
}


.contact-card {
    max-width: 100%;
    background-color: #565a63;
    color: white;
}

.audio-card {
    background-color: #6b707a;
    color: white;
    margin-left: 20vhm;
    padding: 36px;
}

#headphone {
    height: 400px;
}

.cat-card {
    background-color: #6b707a;
    color: white;
    padding: 24px 12px 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 993px) {
    .main-title {
        font-size: 80px;
        font-weight: bold;
    }

    .sub-title {
        font-size: 80px;
        font-weight: bold;
        text-align: center;
    }

    #contact-title {
        font-size: 80px;
        font-weight: bold;
    }

    #contact-num {
        font-weight: bold;
        font-size: 32px;
    }

    #about-title {
        font-size: 78px;
        font-weight: bold;
    }

    #audio-subtitle {
        font-size: 48px;
        font-weight: bold;
    }

    #audio-title {
        font-size: 80px;
        font-weight: bold;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .main-title {
        font-size: 55px;
        font-weight: bold;
    }

    .sub-title {
        font-size: 55px;
        font-weight: bold;
        text-align: center;
    }

    #contact-title {
        font-size: 55px;
        font-weight: bold;
    }

    #contact-num {
        font-weight: bold;
        font-size: 24px;
    }

    #about-title {
        font-size: 58px;
        font-weight: bold;
    }
}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: 48px;
        font-weight: bold;
    }

    .sub-title {
        font-size: 45px;
        font-weight: bold;
        text-align: center;
    }

    #contact-title {
        font-size: 45px;
        font-weight: bold;
    }

    #about-title {
        font-size: 36px;
        font-weight: bold;
    }

}

#shop_btn {
    margin-top: 36px;
    padding: 12px 24px;
    background-color: rgb(228, 121, 0);
    border: none;
    border-radius: 0px;
}

#shop_btn:hover {
    margin-top: 36px;
    padding: 12px 24px;
    border-radius: 0px;
    transform: scale(1.05);
    transition: ease-in-out 0.1s;
    color: white;
}

#preOrder_btn {
    margin-top: 36px;
    margin-bottom: 48px;
    padding: 12px 24px;
    background-color: rgb(228, 121, 0);
    border: none;
    border-radius: 0px;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}

#preOrder_btn:hover {
    margin-top: 36px;
    padding: 12px 24px;
    border-radius: 0px;
    transform: scale(1.05);
    transition: ease-in-out 0.1s;
    color: white;
}

.row2 {
    margin-top: 36px;
}

#card_1 {
    background-color: rgb(0, 207, 207);
    margin: 25px;
}

#card_1:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 13px 40px -5px rgb(0, 207, 207, 0.3), 0 8px 32px -8px rgb(0, 207, 207, 0.3), 0 -6px 32px -6px rgba(0, 207, 207, 0.3);
}

#img_1 {
    padding: 48px;
}

.card-body_1 {
    padding: 0px 48px 48px;
    font-size: large;
    font-weight: bold;
}

#game_btn {
    margin-top: 36px;
    padding: 12px 24px;
    border-radius: 0px;
    background-color: rgb(0, 207, 207);
    border-color: white;
    color: white;
}

#game_btn:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.1s;
}

#card_2 {
    background-color: rgb(94, 191, 20);
    margin: 25px;
}

#card_2:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 13px 40px -5px rgb(94, 191, 20, 0.3), 0 8px 32px -8px rgb(94, 191, 20, 0.3), 0 -6px 32px -6px rgb(94, 191, 20, 0.3);
}

#img_2 {
    padding: 48px;
    width: 264px;
    margin: auto;
}

.card-body_2 {
    align-self: center;
    font-size: large;
    font-weight: bold;
}

#sec_btn {
    margin-top: 36px;
    padding: 12px 24px;
    border-radius: 0px;
    background-color: rgb(94, 191, 20);
    border-color: white;
    color: white;
}

#sec_btn:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.1s;
}

.row3 {
    margin-top: 48px;
}

#card_3 {
    background-color: rgb(191, 106, 20);
    margin: 20px;
}

#card_3:hover {
    transform: scale(1.03);
    transition: transform 0.1s ease-in-out;
    box-shadow: 0 13px 40px -5px rgb(191, 106, 20, 0.3), 0 8px 32px -8px rgb(191, 106, 20, 0.3), 0 -6px 32px -6px rgb(191, 106, 20, 0.3);
}

#img_3 {
    padding-top: 32px;
    width: 280px;
    margin: auto;
}

#btn_3 {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px 24px;
    border-radius: 0px;
    background-color: rgb(191, 106, 20);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

#btn_3:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.1s;
}

#card_4 {
    background-color: rgb(80, 20, 191);
    margin: 20px;
}

#card_4:hover {
    transform: scale(1.03);
    transition: transform 0.1s ease-in-out;
    box-shadow: 0 13px 40px -5px rgb(80, 20, 191, 0.3), 0 8px 32px -8px rgb(80, 20, 191, 0.3), 0 -6px 32px -6px rgb(80, 20, 191, 0.3);
}

#img_4 {
    padding-top: 32px;
    width: 200px;
    margin: auto;
}

#btn_4 {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
    padding: 12px 24px;
    border-radius: 0px;
    background-color: rgb(80, 20, 191);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

#btn_4:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.1s;
}

#card_5 {
    background-color: rgb(191, 20, 148);
    margin: 20px;
}

#card_5:hover {
    transform: scale(1.03);
    transition: transform 0.1s ease-in-out;
    box-shadow: 0 13px 40px -5px rgb(191, 20, 148, 0.3), 0 8px 32px -8px rgb(191, 20, 148, 0.3), 0 -6px 32px -6px rgb(191, 20, 148, 0.3);
}

#img_5 {
    padding-top: 32px;
    width: 200px;
    margin: auto;
}

#btn_5 {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px 24px;
    border-radius: 0px;
    background-color: rgb(191, 20, 148);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

#btn_5:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.1s;
}

.row4 h1 {
    color: white;
    width: 283px;
    margin: auto;
    margin-top: 36px;
}

.row5 {
    margin-top: 48px;
    padding-bottom: 48px;
    align-items: center;

}

.brand_img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;

}

#hp_logo {
    width: 60px;
}

.footer {
    max-width: 100%;
    background-color: #43464d;
    padding-top: 20px;
}

.footer h5 {
    color: white;
}

.link {
    text-decoration: none;
}

.address {
    color: white;
}

.btn {
    background-color: rgb(57, 57, 57);
    color: white;
    margin-right: 8px;
    margin-bottom: 8px;
}

.socialbtn:hover {
    color: rgb(191, 106, 20) !important;
    background-color: transparent;
}

.divider {
    border-bottom: 1px solid white;
    width: 100%;
}

.footer p {
    margin-top: 12px;
    margin-bottom: 20px;
    color: white;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#follow {
    margin-bottom: 20px;
}

.icons {
    scale: 2;
    color: yellow;
}

.contact-type {
    font-weight: bold;
    font-size: 18px;
}

.txtfield {
    padding: 15px;
    margin-bottom: 10px;
}

.submit-btn {
    background-color: rgb(191, 106, 20);
    padding: 15px;
    margin-top: 10px;
}

.submit-btn:hover,
.submit-btn:focus,
.submit-btn:hover {
    background-color: rgb(191, 106, 20);
    transform: scale(1.2);
    transition: ease-in-out;
}

.abt-row {
    margin-left: 50px;
    padding-bottom: 36px;
    padding-top: 60px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.product-row {
    width: 100vw;
}

#dji {
    background-color: transparent;
}